.navigation {
    height: 100%;
    background-color: #00B8E2;
    margin-top: -20px;
}

.container {
    margin: 1em auto;  	
    width: 940px;
}

h1 {
    margin-bottom: 2%;
}

p {
    margin-bottom: 5%;   
}

h1, 
p {
    text-align: center;
    color: #394B50;
}

* {  	
	margin: 0;  	
    padding: 0;  	
    font-family: Calibri, sans-serif;
    box-sizing: border-box;
} 

input[type=text] {
    height: 40px;
    width: 244px;
    margin-right: 1%;
    text-indent: 15px;
    border: none;
}

input[type=submit] {
    cursor: pointer;
    height: 41px;
    width: 150px;
    color: #fff;
    font-weight: bolder;
    font-size: 1rem;
    border:solid 2px #fff;
    background-color: #00B8E2;
    text-decoration-color: #fff;
}

input {
    border-radius: 2px;
    margin-top: 5%;
    margin-bottom: 2%;
}

table {
    width: 96%;
    border-collapse: collapse;
}
  
table, 
th, 
td {
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #707070;
}

th, 
td {
    padding: 1%;
}

td:nth-child(1), 
td:nth-child(4) {
    text-align: center;
}

th:nth-child(2), 
th:nth-child(3) {
    text-align: left;
}

td:nth-child(2),
td:nth-child(3), 
th:nth-child(2), 
th:nth-child(3) {
    text-indent: 7px;
}

#main {
    height: 200px;
}

/* Columns */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* row */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }